.logo-animation:hover {
    transform: scale(1.1); /* Logo grows slightly on hover */
    transition: transform 0.3s ease;
  }
  
  .animated-button {
    margin-left: auto;
  }
  
  .animated-button:hover {
    transform: translateY(-2px); /* Button moves up slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  }
  
  .fade-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }